* {
    margin: 0;
    font-family: 'Roboto';
}

.contenedor-b {
    margin: 0 25%;
    padding-bottom: 20px;
}

body{
    background: rgb(245, 241, 241) ;
  margin: 0;
}

 .barra-navegacion {
    background-color: #b82b2b;
    width: 100%;
    height: auto;
 }
 
 .contenedor-nav {
    display: flex ;
    justify-content: space-around;
}

.logo-nav {
    width: 100px;
    height: auto;
}



.contenedor-nav div h4 {
    color: #ffffff;
}

#logo-titulo {
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo-titulo h2 {
    color: #ffffff;
}
.opt-peluqueria {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0%15px;
}

.opt-peluqueria h4 {
    padding: 0 15px;
}

.opt-peluqueria a {
    text-decoration: none;
}


.texto-b:hover{
 color:hsl(30, 9%, 96%);
background:rgb(180, 9, 9);
justify-content: center;

}

.sec-welcome {
    background-image: url(../imagenes/encabezado.png);
    /* background-attachment: fixed; */
    background-repeat: no-repeat;
    background-position: center;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: bottom;
}
.sec-welcome h3 {
    font-size: 3.4rem;
}
.contenedor-b{
    margin: 0,25%;
}

.texto_in{
    color:#b82b2b
    
}

.texto-b{
    
    text-align: justify;
    
}
.video{
    background: rgb(250, 249, 191);
    border:solid rgb(48, 12, 105)
    
}

.pie_pgn:hover{
    color:rgb(26, 22, 23);
    background:rgb(54, 170, 54)
    
}
.pie_pgn{
    
    background:rgb(172, 23, 23);
    width: 100%;
    height: 50px;
    text-align: center;

}

