
body{
    
    background-image: url("../imagenes/agua.jpg")
   
}


input{ 
background: #FAFAC2;
}

#titulo1,#titulo2{ 
   text-align: center;  
   color: #D35400
}
#titulo2{
    color:blue;
}
.contenedor-formulario{
    background:yellow;
    width:400px;
    margin:0 auto;
    
    border-radius: 5px;
    color: red;
}
.contenido-formulario{
    padding: 10px;
    
}
.titulo-formulario{
    background: pink;
}